@import "vendor/bootstrap/bootstrap.less";

.block {
	background:#eee;
	padding: 3px;
	border-radius: 3px;

	.block-header {
		#gradient .vertical(#fafafa, #eaeaea);
		padding: 10px;
		color:#555;
		font-size:16px;
		font-weight:700;
		line-height:20px;
		border: 1px solid #cacaca;
		border-bottom:0;
	}

	.block-content {
		padding: 30px;
		border: 1px solid #cacaca;
		background:#fff;
	}
}

.markdown-body {
	h1 {
		border-bottom: 1px solid #ddd;
		line-height:1.7;
	}
}